@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
body{
width: 100%;
height: 100%;
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
}
    
ul{
padding: 0px!important;
}

.Menu-principal{
width: 100%;
background-color: #00056A;
height: 60px;
}
    
main{
margin: 0 auto;
width: 980px;
position: relative
}
    
.logo{
float: left;
padding: 15px;
width: 70%;
}

.redes-sociais ul li{
margin-left: 21px;
display: inline-block;       
list-style: none;
}

.redes-sociais{
width: 25%;    
float: right;
}

.header-2{
background-color: #ffffff;
width: 980px;
margin: 0 auto;
padding: 16px;
}

.menu-urls{
border-bottom: 3px solid #efefef; 
height: 80px;
}
       
.menu ul li{
display: inline-block;
color: #8b8b8b;
margin-left: 15px;
padding: 0px;
height: 48px;

}

.menu ul li:hover{
border-bottom: 50px solid #4D4DFF;
}

.menu ul li a:hover{
color: #4D4DFF;
}
     
.menu ul li a{
color: #8b8b8b;
text-decoration: none;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
}

.menu{
width: 70%;
float: left;
}
    
.busca{
text-align: center;
width: 30%;
float: right;
}

.busca input{
background-image: url('../img/BuscaLogo.png');
background-repeat: no-repeat;
background-position: 96%;
border: 2px solid #d6d6d6;
height: 36px;
width: 190px;
padding: 12px;
margin-top: 7px;
}
    
.col-100{
width: 100%;
float: left;
position: relative;
}

.slick-prev{
font-size: 0;
border: none;
width: 25px;
height: 51px;
z-index: 9;
background-color: transparent;
position: absolute;
top: 38%;
left: 8%;
background-image: url("../img/FlechaEsquerda.png")
}

.slick-next{
font-size: 0;
border: none;
width: 25px;
height: 51px;
z-index: 9;
background-color: transparent;
position: absolute;
top: 38%;
right: 8%;
background-image: url("../img/FlechaDireita.png");
}

ul.slick-dots li{
font-size: 0;
border: 3px solid #ffffff;
height: 16px;
width: 15px;
border-radius: 50%;
}

ul.slick-dots li slick-active{
background-color: #4D4DFF;
}
